<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
    <link rel="stylesheet" href="/static/layout.css" />
</head>
<body>

    <div class="title">   
        <h2>404 Not Found</h2>
    </div>  
    <div class="error-container">
        <p>The request {{Request}} was not found on this server.</p>
        <p>User with id number {{idNumber}} doesn't exist</p>
    </div>  
</body>
</html>

<!-- <a href=“/users?imie={{imie}}&city=={{city}}”>Idź do usera</a> -->
