<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
    <link rel="stylesheet" href="/static/layout.css" />
</head>
<body>
    <footer>
        <img class="footer-img" src="/static/full_logo_white.png" alt="logo"/>
        <h1 class="footer-title">Schedule website</h1>
        <div>
            <a class="footer-link" href="/users">Users</a>
            <a class="footer-link" href="/schedules">Schedules</a>
        </div>
    </footer>
    <div class="title">   
        <h2>Welcome to our schedule website</h2>
    </div>  
    <div class="container">
            <button onclick="window.location.href='/users'">List of all users</button>
            <button onclick="window.location.href='/schedules'">List of all schedules</button>
    </div>  
</body>
</html>
